manifest {
  name = 'mapping_example'
  mainScript = 'main.nf'
  version = 'v0.0.0'
  nextflowVersion = '>=20.07.1'
}

docker {
  enabled = true
}

params {
  ref = "dx://project-GJ7k6q00pXf3kkkq1JxgKj9F:/inputs/references/GRCh38.no_alt_analysis_set.bwa-index.tar.gz"
  fastaIn = "dx://project-GJ7k6q00pXf3kkkq1JxgKj9F:/inputs/references/GRCh38.no_alt_analysis_set.fa.gz"
}
