manifest {
  name = 'haplotypecaller'
  mainScript = 'main.nf'
  version = 'v0.0.0'
  nextflowVersion = '>=20.07.1'
}

docker {
  enabled = true
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiAzODkxfS5mNmY3ZjYwMzA0NmMxYWZkZWM5Yzg2MWI5N2UzMmFhM2M4ZjIxMjJh'
}

params {
  ref = 'dx://project-GGkXj2Q02y621ZZ9916G2Zy0:/inputs/references/GRCh38.no_alt_analysis_set.bwa-index.tar.gz'
  fastaIn = 'dx://project-GGkXj2Q02y621ZZ9916G2Zy0:/inputs/references/GRCh38.no_alt_analysis_set.fa.gz'
  knownVariants = 'dx://project-GGkXj2Q02y621ZZ9916G2Zy0:/inputs/references/Homo_sapiens_assembly38.dbsnp138.vcf.gz'
  dbsnp = 'dx://project-GGkXj2Q02y621ZZ9916G2Zy0:/inputs/references/Homo_sapiens_assembly38.dbsnp138.vcf.gz'
}